
.graph-placeholder-one{
	height:200px;
	width:90%;
}

.graph-placeholder-two{
	height:200px;
	width:90%;
}

#header {
	margin-top: 0;
	background-color: #764094;
	color:white;
	margin-right: 0;
	margin-left: 0;
}

.info-text{
	width:80%;
}
